:root {
  --sidebar-size: 25ch;
}

.page {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr 52px;

  grid-template-areas:
    "masheader"
    "sidebar"
    "site-content";
}

@media (min-width: 769px) {
  :root {
    --sidebar-size: 352px;
  }
}

@media (min-width: 577px) {
  .page {
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-size) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "masheader    masheader"
      "sidebar      site-content"
      "sidebar      site-content";
  }
}

.masheader {
  z-index: 1000;
  grid-area: masheader;
}

.masheader p {
  margin: 0;
}

.site-content {
  grid-area: site-content;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}
