:root {
  --sidebar-size: 25ch;
}

.page {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr 52px;

  grid-template-areas:
    "masheader"
    "sidebar"
    "site-content"
    "site-footer";
}

@media (min-width: 769px) {
  :root {
    --sidebar-size: 352px;
  }
}

@media (min-width: 577px) {
  .page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-size) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "masheader    masheader"
      "sidebar      site-content"
      "site-footer  site-footer";
  }
}

.masheader {
  grid-area: masheader;
}

.masheader p {
  margin: 0;
}

.site-content {
  grid-area: site-content;
}

.sidebar {
  grid-area: sidebar;
}

.site-footer {
  grid-area: site-footer;
  padding-inline: 8px;
}
